<div id="signup" class="row">
	<form class="col s6 offset-s2 z-depth-2">
		<br> 
		<div class="row">
		  <div class="input-field col s10 offset-s1">
		  	<i class="fa fa-user-circle-o prefix" aria-hidden="true"></i>
			  <input id="firstName" type="text" class="validate" ng-model="firstName">
	      <label for="username">First Name</label>
		  </div>
		</div>
		<div class="row">
		  <div class="input-field col s10 offset-s1">
		  	<i class="fa fa-user-circle-o prefix" aria-hidden="true"></i>
			  <input id="lastName" type="text" class="validate" ng-model="lastName">
	      <label for="username">Last Name</label>
		  </div>
		</div>
		<div class="row">
		  <div class="input-field col s10 offset-s1">
		  	<i class="fa fa-user-circle-o prefix" aria-hidden="true"></i>
			  <input id="username" type="text" class="validate" ng-model="username">
	      <label for="username">Username</label>
		  </div>
		</div>
		<div class="row">
		  <div class="input-field col s10 offset-s1">
		  	<i class="fa fa-envelope prefix" aria-hidden="true"></i>
		   	<input id="email" type="email" class="validate" ng-model="email">
		   	<label for="email">Email</label>
		  </div>
		</div>
		<div class="row">
		  <div class="input-field col s10 offset-s1">
		  	<i class="fa fa-unlock-alt prefix" aria-hidden="true"></i>
     	  <input id="password" type="password" class="validate" ng-model="password1">
        <label for="password">Password</label>
		  </div>
	  </div>
	  <div class="row">
	    <div class="input-field col s10 offset-s1">
	    	<i class="fa fa-unlock-alt prefix" aria-hidden="true"></i>
        <input id="pass" type="password" class="validate" ng-model="password2">
        <label for="pass">Confirm Password</label>
	   	</div>
	  </div>
		<div class="row">
		  <div class="input-field col s10 offset-s1">
		  	<i class="fa fa-phone prefix" aria-hidden="true"></i>
		   	<input type="text" class="validate" ng-model="phone">
		   	<label for="phoneNumber">Phone Number</label>
		  </div>
		</div>
		<div class="row">
      <div class="input-field col s3 offset-s4">
      	<button class="btn light-blue darken-1" type="submit" name="action">Register</button>
      </div>
    </div>
  </form>
</div>