<div>
    <h3>Introduction</h3>
    <p>
        As the need for mobile data grows continuously, the mobile operators need more efficient technologies to satisfy their customers. Today the mobile data service in Europe is most often delivered with some evolutionary level of High Speed Packet Access (HSPA) technology based on the Universal Mobile Telecommunications System (UMTS). For now the data rates and latencies it provides have been sufficient. However, as services such as video streaming and Voice over Internet Protocol (VoIP) become more commonly used in mobile context, the load on the networks increases. Furthermore, the latencies provided might not be enough to satisfy the required Quality of Service (QoS) of the new services.
    </p>
   <p>
        To provide the mobile operators the means to answer to the growing data usage, the 3rd Generation Partnership Project (3GPP) developed and standardized an evolutionary mobile radio access technology called Long Term Evolution (LTE). At the same time, the 3GPP also developed a new core network called Evolved Packet Core (EPC). Together with the User Equipment (UE) these two evolutions form the Evolved Packet System (EPS). The aim of EPS was to provide the users with considerably higher data rates and lower delays than before with efficient resource usage. At the same time, the EPS was required to be compatible with legacy 3GPP networks such as UMTS and Global System for Mobile communication (GSM), as well as other non-3GPP networks.

   </p>

   <h3>Goals</h3>
   <p>
        Produce and analytic tool which when given s1 and x1 USN telecom excel data, it stores the data in databases and produced graphs and reports with respect to QoS and QoE.
    </p>
</div>