<div>
    <br>
    <h5>Test Graph 1</h5>
    <br><br>
    <canvas id="line" class="chart chart-line" chart-data="data"
        chart-labels="labels" chart-series="series" chart-options="options"
        chart-dataset-override="datasetOverride" chart-click="onClick">
    </canvas>
    <br><br>
    <h5>Test Graph 2</h5>
    <br><br>
    <canvas id="line" class="chart chart-line" chart-data="data"
        chart-labels="labels" chart-series="series" chart-options="options"
        chart-dataset-override="datasetOverride" chart-click="onClick">
    </canvas>
</div>