<div class="navbar-fixed">
  <ul id="profile" class="dropdown-content">
    <li><a href="#!"><span class="white-text">Profile</span></a></li>
    <li><a href="#!"><span class="white-text">Logout</span></a></li>
  </ul>
  <nav>
    <div class="nav-wrapper light-blue darken-4">
      <a href="#!" class="brand-logo white-text">Logo</a>
      <ul class="right hide-on-med-and-down">
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" data-activates="profile">
          <span class="white-text">Admin</span>
          <i class="fa fa-sort-desc fa-2x white-text" aria-hidden="true"></i>
        </a></li>
      </ul>
    </div>
  </nav>
</div>